<_within file="application.html">

  <div id="content">
    <div id="form">
      <h1 id="header">Twitter Suche</h1>
      <div class="input">
        <label id="name-input-label">
          <span>Wonach willst Du suchen?</span>
          <input id="name-input" size="30" type="text"/>
        </label>
        <div id="name-input-error" class="small error">&nbsp;</div>
      </div>
      <input id="greet-button" class="button green" type="button" value="Und los!">
    </div>
  </div>

</_within>
